@model MVC.ViewModel.Payments.PaymentsViewModel


@using (Html.BeginForm("Payments", "Intake",FormMethod.Post, new { id = "payments-frm"}))
{
    @Html.AntiForgeryToken()
    

    <div class="Payments">
        <h4>Payments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IsCopay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsCopay)
                    @Html.ValidationMessageFor(model => model.IsCopay, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CopayCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CopayCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CopayCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCardNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <input type="text" name="CreditCardNumber" id="CreditCardNumber" />

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCardType, "", new { @class = "text-danger" })
            </div>
          
            <input type="file" name="pic" accept="image/*" multiple>
        </div>



        @*<div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                @Html.TextBoxFor(model => model.DateofBirth, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>*@
        <div class="form-group input-group-sm">
            @Html.LabelFor(model => model.DateOfBirth)
            @Html.EditorFor(model => model.DateOfBirth, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..."})
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>


        

        @Html.ValidationMessage("error")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="btnpayments" class="btn btn-default" />
            </div>
            <div>
                <p><label style="color:lightgreen" id="message"/></p>

            </div>
        
        </div>

        <div class="modals"></div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
